@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }

        body{
            background-color: rgb(255, 255, 255);
        }
        header {
            padding: 32px ;
            border-bottom: 5px solid rgb(133, 81, 13);
            background-color: rgb(35, 129, 35);
        }
        header div {
            text-align: center; /*Alinhamento no meio do texto*/
        }   
        header div a {
            color: white;  /* Cor do texto */
            font-size: 20px; /* Tamanho da fonte */
            line-height: 30px; /*Altura da linha*/
            margin: 1.00px; /* Espaçamento entre os links */
            text-decoration:none; /* Remover sublinhado dos links */
            font-family: "Playfair Display", serif;/*a fonte escolhida para o menu*/
        }
        header div a:hover { /*seleção do modo quando o mouse passar por cima "hover"*/
            color: rgb(10, 41, 3); /*mudar para a cor verde escuro*/
            transition: 200ms;/*e fazer uma transição de cor que dura 500ms*/
        }
        #box {
            text-align: center;
            padding: 32px;
        }

        #box img {
            border-radius: 50%;
            border: 5px solid rgb(133, 81, 13);
            margin-bottom: 32px;
        }
        
        #box h1{
            font-size: 42px;
            line-height: 52px;
            font-weight: bold;
        }

        #box h2{
            font-size: 24px;
        }
        