@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    *{
        margin: 0;
        padding: 0;

    }
        body{
            background-color: rgb(255, 255, 255);

        }
        header {
            padding: 10px ;
            border-bottom: 10px solid rgb(133, 81, 13);
            background-color: rgb(76, 146, 44);
        }
        header div {
            text-align: center; /*Alinhamento no meio do texto*/
        }
header div a {
            color: rgb(255, 255, 255); /*Cor dos links*/   
            font-size: 20px; /*Tamanho da fonte dos links*/
            line-height: 30px; /*Altura da linha*/
            margin:5.00px; /* Espaçamento entre os links */
            text-decoration:none; /* Remover sublinhado dos links */
            font-family: "Playfair Display", serif;/*a fonte escolhida para o menu*/
        }
        header div a:hover { /*seleção do modo quando o mouse passar por cima "hover"*/
            color: rgb(7, 82, 7); /*mudar para a cor verde escuro*/
            transition: color 500ms;/*e fazer uma transição de cor que dura 500ms*/
        }
